@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://cdn5.vectorstock.com/i/1000x1000/80/09/seamless-pattern-background-with-magic-8-balls-vector-20388009.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: white;
  border: 5px solid white;
  border-radius: 500px;
  
  
  
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}



